<div class="card bg-dark text-white">
  <div class="card-header"> {{ title }} </div>
  <div class="card-body">
    <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">

      <div class="form-group row">
        <label for="name" class="col-from-label col-sm-2">NAME</label>
        <div class="col-sm-6">
          <input id="name" type="text" class="form-control" formControlName="name">
        </div>
      </div>

      <div class="form-group row">
        <label for="lastname" class="col-from-label col-sm-2">LASTNAME</label>
        <div class="col-sm-6">
          <input id="lastname" type="text" class="form-control" formControlName="lastname">
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-from-label col-sm-2">EMAIL</label>
        <div class="col-sm-6">
          <input id="email" type="email" class="form-control" formControlName="email">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" [disabled]="!clienteForm.valid">Submit</button>
        </div>
      </div>

    </form>
  </div>
</div>
