<div class="card border-secondary mb-3">
  <div class="card-header">Clients</div>
  <div class="card-body text-secondary">
    <h5 class="card-title">Client list</h5>

    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']" routerLinkActive="router-link-active">Create
        client</button>
    </div>

    <div class="alert alert-info" *ngIf="clients?.length == 0">No hay registros</div>

    <table class="table" *ngIf="clients?.length>0">
      <thead>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>lastname</th>
          <th>email</th>
          <th>createAt</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients">
          <td>{{client.id}}</td>
          <td>{{client.name}}</td>
          <td>{{client.lastname}}</td>
          <td>{{client.email}}</td>
          <td>{{client.createAt}}</td>
          <td>
            <button type="button" name="button" [routerLink]="['/clientes/form', client.id]" routerLinkActive="router-link-active"
              class="btn btn-primary">Edit</button>
          </td>
          <td>
            <button type="button" name="button" (click)="delete(client)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- <app-form></app-form> -->
