<div class="card border-secondary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-secondary">
    <h5 class="card-title">Lista de cliente</h5>

    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']" routerLinkActive="router-link-active" >Crear cliente</button>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>lastname</th>
          <th>email</th>
          <th>createAt</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{cliente.id}}</td>
          <td>{{cliente.name}}</td>
          <td>{{cliente.lastname}}</td>
          <td>{{cliente.email}}</td>
          <td>{{cliente.createAt}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- <app-form></app-form> -->